@import 'variables';

@import '~bootstrap/scss/bootstrap';  

@import "base/base",
  "base/typography";

@import "components/search",
"components/dash-underline",
"components/questions/card";



.nav-tabs
{
  border-color: transparent !important;

  .nav-link
  {
    border:none !important;
    padding: 0.9rem 2rem;

  }
  
  .nav-link.active, .nav-item.show .nav-link
  {
    background: $lightBlue;

  }
}

.details
{
  background: $lightBlue;
}
