#search
{
  .ais-input, .input-group-text{
    padding: 2rem;
    border: none;
    border-bottom: solid 0.1rem #e7e9f6;
    outline: none;
    font-size: 1.8rem;
  }

  .ais-input{
    box-shadow: 6px 0 20px 0 rgba(0, 0, 0, 0.1);
  }

  .input-group-text{
    font-size: 3rem;
    box-shadow: -6px 0px 20px 0 rgba(0, 0, 0, 0.1);
  }

  .ais-pagination{
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .ais-pagination__item{
    padding: 0 1%;
  }

  @include media-breakpoint-down(xs) {

    .input-group-prepend{
      width: 100%;
    }

    .input-group-text{
      font-size: 1.5rem;
    }

  }

}