#search
{
  .input-group{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  .ais-input, .input-group-text{
    padding: 2rem;
    border: none;
    border-bottom: solid 0.1rem #e7e9f6;
    outline: none;
    font-size: 1.8rem;
  }

  .ais-input{
    padding-left: 0;
    font-family: $font-serif;
    font-size: 3rem;


    &:focus{
      box-shadow: none;

    }
  }

  .input-group-text{
    background: none;
    font-size: 3rem;
    padding-right: 1rem;
  }

  .ais-pagination{
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .ais-pagination__item{
    padding: 0 1%;
  }

  @include media-breakpoint-down(xs) {


    .input-group-text, .ais-input{
      font-size: 1.5rem;
    }

  }

}